{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html.twig" %}

{% set name = application.name | l10n(locale) %}

{% block title %}{{ name }} - {{ parent() }}{% endblock %}

{% block canonical %}
<link rel="canonical" href="{{ app.request.getSchemeAndHttpHost ~ path('app_main_application_intl', {'_locale': locale, 'category': category, 'application': application.id}) }}" />
{% endblock %}

{% block body %}
  <main itemscope itemtype="http://schema.org/SoftwareApplication">
    <meta itemprop="operatingSystem" content="GNU/Linux"/>
    <meta itemprop="name" content="{{ name }}"/>
    <meta itemprop="isFamilyFriendly" content="true"/>
    <meta itemprop="applicationCategory" content="{{ application.primaryCategory }}"/>

    <div class="application-header pt-2 pb-2">
      <div class="container d-flex">
        <img src="{{ asset('icons/' ~ application.icon) }}" alt="{% trans %}%name% Icon{% endtrans %}"
             width="64" height="64" class="mr-2"/>
        <div>
          <h1 style="font-size: 1.5rem">
            <a href="{{ path('app_main_index', {'_locale': locale}) }}">{% trans %}KDE's Applications{% endtrans %}</a>
            {{ name }}
          </h1>
          <a href="{{ path('app_main_category_intl', {'_locale': locale, 'category': category}) }}">
            {{ application.primaryCategory }}
          </a>
        </div>
        <a class="noblefir ml-auto align-self-center"
           id="install-button"
           href="appstream://{{ application.appStreamId }}"
           data-windows="{{ application.windowsStoreLink }}">
          <i class="icon icon_cloud-download" style="font-size: 16px"></i>
          <span id="install-msg">{% trans %}Install on Linux{% endtrans %}</span>
        </a>
      </div>
    </div>

    {% if application.primaryCategory == 'Unmaintained' %}
    <div class="unmaintained-header pt-2 pb-2">
      <div class="container d-flex">
        <p>{% trans %}This app is unmaintained and no longer released by the KDE community.{% endtrans %}</p>
      </div>
    </div>
    {% endif %}

    <style>
      .swiper-container, .swiper-slide img, .screenshot img {
        height: 50vw;
        min-height: 300px;
        max-height: 500px;
      }

      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
      }

      .swiper-slide {
        flex-shrink: initial;
      }

    </style>

    <div class="container" style="overflow: hidden;">
      {% if application.screenshots | length > 1 %}
        <div class="swiper-container" class="w-100">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper d-flex my-3">
            {% for screenshot in application.screenshots %}
              <div class="swiper-slide">
                <img src="{{ screenshot.sourceImage }}"
                     alt="{{ screenshot.caption
                     ? (screenshot.caption | l10n(locale))
                     : ("Screeenshot of %name%" | trans({'%name%': name})) }}">
              </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      {% elseif application.screenshots | length == 1 %}
        {% with { screenshot: application.screenshots[0] } %}
          <div class="text-center screenshot my-3">
            <img src="{{ screenshot.sourceImage }}"
                 alt="{{ screenshot.caption
                 ? (screenshot.caption | l10n(locale))
                 : ("Screeenshot of %name%" | trans) }}">
          </div>
        {% endwith %}
      {% endif %}
      <div class="row">
        <section class="description col-12 col-md-8 col-lg-9">
          <div>
            {{ application.description | l10n(locale) | raw }}
          </div>
        </section>
        <aside class="details col-12 col-md-4 col-lg-3">
          <h3>{% trans %}Details for %name%{% endtrans %}</h3>
          {% if application.homepage is not null %}
            <div>
              <a href="{{ application.homepage }}">
                {% trans %}Developer website{% endtrans %}
              </a>
            </div>
          {% endif %}
          {% if application.latestStableRelease is not null %}
            <h4>{% trans %}Latest stable release{% endtrans %}</h4>
            {{ application.latestStableRelease.version }} <br/>
            {{ application.latestStableRelease.timestamp | format_date('long', locale=locale) }}
          {% endif %}
          {% if application.latestDevelopmentRelease is not null %}
            <h4>{% trans %}Latest development release{% endtrans %}</h4>
            {{ application.latestDevelopmentRelease.version }} <br/>
            {{ application.latestDevelopmentRelease.timestamp | format_date('long', locale=locale) }}
          {% endif %}
          {% if application.licenseIdentifier is not null %}
            <h4>{% trans %}License{% endtrans %}</h4>
            <a itemprop="license" href="https://spdx.org/licenses/{{ application.licenseIdentifier }}.html">{{ application.licenseIdentifier }}</a>
          {% endif %}
          {% if application.handbook is not null or application.forum is not null %}
            <h4>{% trans %}Get Help{% endtrans %}</h4>
            {% if application.handbook is not null %}
              <a href="{{ application.handbook }}">
                {% trans %}%name% Handbook{% endtrans %}
              </a>
              <br/>
            {% endif %}
            {% if application.forum is not null %}
              <a href="{{ application.forum }}">
                {% trans %}KDE Community Forum{% endtrans %}
              </a>
              <br/>
            {% endif %}
          {% endif %}
          <h4>{% trans %}Contact the authors{% endtrans %}</h4>
          {% if application.bugTracker is not null %}
            <div>
              <a href="{{ application.bugTracker ?? 'https://bugs.kde.org/wizard.cgi' }}">
                {% trans %}Report a bug{% endtrans %}
              </a>
            </div>
          {% else %}
          {% endif %}
          {% if application.ircChannels | length > 0 %}
            {% trans %}IRC:{% endtrans %}
            {% for ircChannel in application.ircChannels %}
              <a href="{{ ircChannel }}">
                {{ ircChannel }}
              </a>
            {% endfor %} in Freenode <br/>
          {% endif %}
          {% if application.mailingLists | length > 0 %}
            {% trans %}Mailing List:{% endtrans %}
            {% for mailingList in application.mailingLists %}
              <a href="https://mail.kde.org/mailman/listinfo/{{ mailingList }}">
                {{ mailingList }}@kde.org <br/>
              </a>
            {% endfor %}
          {% endif %}
          {% if application.authors is not null %}
            <div>
              <b>{% trans %}Author(s):{% endtrans %}</b>
              <ul class="inline-list">
                {% for author in application.authors %}
                  <li itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <span itemprop="name">{{ author[1] }}</span>
                    {% if author[3] is defined %}
                      (<a itemprop="url" href="{{ author[3] }}">{{ author[3] }}</a>)
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% if application.credits is not null %}
            <div>
              <b>{% trans %}Thanks to:{% endtrans %}</b>
              <ul class="inline-list">
                {% for author in application.credits %}
                  <li>
                    {{ author[1] }}
                    {% if author[3] is defined %}
                      (<a href="{{ author[3] }}">{{ author[3] }}</a>)
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          <div class="mt-3">
            <a href="{{ path('app_main_application_dev_intl', {
              '_locale': locale,
              'application': application.id,
              'category': category
            }) }}">
              Development information
            </a>
          </div>
        </aside>
        <div class="row">
          <div class="col-12 col-sm-4  d-flex flex-column mb-3">
            <a class="align-self-center" href="appstream://{{ application.appStreamId }}" style="height: 100px">
              <img src="{{ asset('assets/plasmadiscover.svg') }}" alt="logo discover" class="img-fluid" width="100">
            </a>
            <h2 class="align-self-center">Linux</h2>
            <a class="noblefir align-self-center mb-3" href="appstream://{{ application.id }}.desktop">
              <i class="icon icon_cloud-download"></i>
              <span id="install-msg">{% trans %}Install on Linux{% endtrans %}</span>
            </a>
            <small>{% trans %}This button only works with <a
href="/applications/system/org.kde.discover">Discover</a> and other
AppStream application stores. You can also use your distribution's package manager.{% endtrans %}
            </small>
          </div>
          {% if application.windowsStoreLink %}
            <div class="col-12 col-sm-4  d-flex flex-column mb-3">
              <a class="d-flex align-self-center" href="{{ application.windowsStoreLink }}" style="height: 100px">
                <img src="{{ asset('assets/get-it-from-ms.png') }}" alt="{% trans %}Get it from Microsoft{% endtrans %}"
                     class="img-fluid align-self-center" width="150">
              </a>
              <h2 class="align-self-center">Microsoft Store</h2>
              <a class="noblefir align-self-center mb-3" href="{{ application.windowsStoreLink }}">
                <i class="icon icon_cloud-download"></i>
                <span id="install-msg">{% trans %}Install on Windows{% endtrans %}</span>
              </a>
            </div>
          {% endif %}
          {% if application.fDroidLink %}
            <div class="col-12 col-sm-4  d-flex flex-column mb-3">
              <a class="d-flex align-self-center" href="{{ application.fDroidLink }}" style="height: 100px">
                <img src="https://fdroid.gitlab.io/artwork/badge/get-it-on.png"
                     alt="{% trans %}Get it from F-Droid{% endtrans %}"
                     class="img-fluid align-self-center" style="max-height: 80px">
              </a>
              <h2 class="align-self-center">F-Droid</h2>
              <a class="noblefir align-self-center mb-3" href="{{ application.fDroidLink }}">
                <i class="icon icon_cloud-download"></i>
                <span id="install-msg">{% trans %}Get it on F-Droid{% endtrans %}</span>
              </a>
            </div>
          {% endif %}
          {% if application.fDroidLink %}
            <div class="col-12 col-sm-4  d-flex flex-column mb-3">
              <a class="d-flex align-self-center" href="{{ application.googlePlayLink }}" style="height: 100px">
                <img src="{{ asset('assets/get-it-from-google-play.png') }}" alt="Get it from Google Play"
                     class="img-fluid align-self-center" style="max-height: 80px">
              </a>
              <h2 class="align-self-center">Google Play</h2>
              <a class="noblefir align-self-center mb-3" href="{{ application.googlePlayLink }}">
                <i class="icon icon_cloud-download"></i>
                <span id="install-msg">{% trans %}Get it on Google Play{% endtrans %}</span>
              </a>
              <small>Google Play and the Google Play logo are trademarks of Google LLC.</small>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block donation %}#{{ name }}{% endblock %}
