{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html.twig" %}

{% block canonical %}
<link rel="canonical" href="{{ app.request.getSchemeAndHttpHost }}" />
{% endblock %}

{% block body %}
  <main class="container">
    <h1>{% trans %}KDE's Applications{% endtrans %}</h1>

    <p>{% trans %}KDE is a community of friendly people who create over 200 apps which run on any Linux desktop, and often other platforms too. Here is the complete list.{% endtrans %}</p>

    <div class="form-group">
      <label for="search" class="sr-only">Search</label>
      <input type="email" class="form-control" id="search" placeholder="{% trans %}Search...{% endtrans %}">
    </div>

    {% for category in categories %}
      {% include 'category.html.twig' %}
    {% endfor %}
  </main>
{% endblock %}
